#include "winmenu2.h"

MYMENU MENU
{
	POPUP "&Options"
	{
		POPUP "&Port"
		{
			MENUITEM "&COM1", IDM_COM1
			MENUITEM "&COM2", IDM_COM2
			MENUITEM "&COM3", IDM_COM3
			MENUITEM "&COM4", IDM_COM4
		}
		MENUITEM "&Connect", IDM_Connect
		MENUITEM "&Disconnect", IDM_Disconnect
	}
}